<nav class="navbar bg-danger">
  <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">
          <img src="rdlogo.ico" alt="Logo" width="30" height="28" class="d-inline-block align-text-top">
          RD PAWNSHOP, INC.
      </a>
      <div class="dropdown">
        <a class="btn dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none; background: none;">
          <img *ngIf="profilePic" [src]="profilePic" alt="Profile Picture" width="30" height="30" class="rounded-circle" />
          <svg *ngIf="!profilePic" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </a>
          <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#settingsBackdrop"><i class="bi bi-gear-fill"></i> Settings</a></li>
              <li><a href="/login" role="button" class="dropdown-item text-decoration-none text-dark"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
          </ul>
      </div>
  </div>  
</nav>


<!-- Settings Modal -->
<div class="modal fade" id="settingsBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="settingsBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content settings"> 
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="settingsBackdropLabel">Settings</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row"> 
          <!-- Sidebar -->
          <div class="col-md-3">   
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" [class.active]="activeLink === 'home'" (click)="changeContent('home')">
                  <i class="bi bi-house"></i> Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [class.active]="activeLink === 'privacy'" (click)="changeContent('privacy')">
                  <i class="bi bi-shield-lock"></i> Privacy
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [class.active]="activeLink === 'account-settings'" (click)="changeContent('account-settings')">
                  <i class="bi bi-gear"></i> Account Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" [class.active]="activeLink === 'activity-log'" (click)="changeContent('activity-log')">
                  <i class="bi bi-clock"></i> Activity Log
                </a>
              </li>
            </ul>
          </div>

          <!-- Main Content -->
          <div class="col-md-9">
            <div class="d-flex flex-column align-items-center text-dark " *ngIf="mainContent.title === 'Home'">
             
              <!-- Profile Image Display (Initially an SVG Icon) -->
              <img *ngIf="profilePic" [src]="profilePic" alt="Profile Picture" width="100" height="100" class="rounded-circle" />
              
              <!-- SVG Icon (Fallback Profile Picture) -->
              <svg *ngIf="!profilePic" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
              </svg>
            
              <!-- Hidden File Input -->
              <input type="file" (change)="onFileSelected($event)" id="fileInput" class="d-none" accept="image/*">
            
              <!-- Custom Label -->
              <label for="fileInput" class="btn btn-link mt-2 text-dark">Click to change</label>
              <p>
                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <h1 *ngIf="mainContent.title !== 'Home'">{{mainContent.title}}</h1>
            <p>{{mainContent.body}}</p>
            </div>

        </div>
      </div>
    </div>
  </div>  
</div>

