.dropdown-toggle::after {
    display: none;  /* Hide the default arrow */
}
.modal-content .settings{
    border-radius: 20px;
}   
.nav-item {
    width: 100%; /* Ensure the nav item takes full width */
  }
  
  .nav-link {
    display: block; /* Use flex to allow text to fill space */
    width: 100%; /* Ensure the link takes the full width */
    padding: 10px; /* Add some padding for better spacing */
    text-overflow: ellipsis; /* Optional: Add ellipsis for overflow */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent line breaks (use this only if you want one line) */
  }
  
  .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional hover effect */
  }
  
  .nav-link.active {
    font-weight: bold; /* Style for active link */
  }
  